@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  overflow-x: hidden;
  max-width: 100%;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/********************Scroll down dot button***********************/
@keyframes scrollDot {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  70% {
    transform: translateY(16px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

.animate-scrollDot {
  animation: scrollDot 1.6s infinite;
}





.arrow-down {
  width: 10px;
  height: 10px;
  border-right: 2px solid rgba(255, 255, 255, 0.9);
  border-bottom: 2px solid rgba(255, 255, 255, 0.9);
  transform: rotate(45deg);
  animation: arrowBounce 1.6s infinite;
}

@keyframes arrowBounce {
  0% {
    transform: rotate(45deg) translate(0, 0);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    transform: rotate(45deg) translate(6px, 6px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

