@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  overflow-x: hidden;
  max-width: 100%;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/********************Scroll down dot button***********************/
.scroll-dot {
  width: 6px;
  height: 6px;
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.9);
  animation: scrollPulse 1.6s infinite;
}

@keyframes scrollPulse {
  0% {
    transform: translateY(-6px);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    transform: translateY(8px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}




.animate-glowPulse {
  background: radial-gradient(
    circle,
    rgba(34, 211, 238, 0.35),
    rgba(34, 211, 238, 0.15),
    transparent 100%
  );
  animation: glowPulse 1.8s ease-in-out infinite;
}

@keyframes glowPulse {
  0% {
    transform: scale(0.85);
    opacity: 0.4;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }
  100% {
    transform: scale(0.85);
    opacity: 0.4;
  }
}


